<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Answers for questions</title>
</head>
<body>
    <center>
        <h1>О сайте</h1>
        <p><b>Menu</b></p>
        <p><a href="/about"> О сайте</p>
        <a href="/questions/"> Всe вопросы </a>
    </center>
    <p>
        <p><strong>
            Пиво помогло открыть фундаментальный закон Вселенной — закон сохранения массы.
        </p></strong>
        <p>
            В 18 веке английский ученый Джозеф Пристли жил по соседству с пивоварней.
           Его заинтересовал «воздух», который выделялся над бродившими чанами с пивом
           (мы знаем, что это был CO₂). Он собирал этот газ и проводил с ним опыты.
        </p>
        <p>
            Однажды он поместил над пивным чаном миску с водой и обнаружил, что вода поглощает этот газ и... становится газированной! 
            Так в 1767 году Джозеф Пристли изобрёл газированную воду, открыв процесс карбонизации. 
            Его работы с газами, вдохновленные пивоварением, внесли огромный вклад в химию и помогли более поздним ученым, 
            таким как Лавуазье, сформулировать закон сохранения массы.
        </p>
    </p>
</body>
</html>